{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Log Out
{% endblock title %}
{% block content %}
    <h2 class="text-4xl font-black text-slate-200 pb-5">Log Out</h2>
    <div class="flex p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800"
         role="alert">
        <svg aria-hidden="true"
             class="flex-shrink-0 inline w-5 h-5 mr-3"
             fill="currentColor"
             viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd">
            </path>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="font-medium">Are you sure you want to log out?</span>
        </div>
    </div>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit"
                class="focus:outline-none text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
            Log Out
        </button>
    </form>
{% endblock content %}
